body {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2em;
}

div {
}

h1 {
  line-height: 1.5em;
}

.container {
  max-width: 680px;
  margin: auto;
}

.references {
  font-size: 0.8em;
  line-height: 1.5em;
}

.caption {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: underline;
}
